[submodule ".registry"]
	path = .registry
	url = https://github.com/epiverse-trace/epiverse-trace.r-universe.dev
	branch = HEAD
[submodule "bpmodels"]
	path = bpmodels
	url = https://github.com/epiverse-trace/bpmodels
[submodule "epidemics"]
	path = epidemics
	url = https://github.com/epiverse-trace/epidemics
[submodule "epiparameter"]
	path = epiparameter
	url = https://github.com/epiverse-trace/epiparameter
	registered = false
[submodule "finalsize"]
	path = finalsize
	url = https://github.com/epiverse-trace/finalsize
[submodule "linelist"]
	path = linelist
	url = https://github.com/epiverse-trace/linelist
[submodule "purrr"]
	path = purrr
	url = https://github.com/tidyverse/purrr
	registered = false
[submodule "serofoi"]
	path = serofoi
	url = https://github.com/epiverse-trace/serofoi
[submodule "superspreading"]
	path = superspreading
	url = https://github.com/epiverse-trace/superspreading
