[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "linelist"]
	path = linelist
	url = https://github.com/epiverse-trace/linelist
	shallow = true
	registered = true
